<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Robots</a>
    <ul id="nav-mobile" class="right">
      <li>
        <a href="/">Robots</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
  </div>
</nav>
